<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Test Page</title>
</head>
<body>
  <p>OK</p>
  Welcome <span sec:authentication="principal.username">User</span><br>
  Welcome <span sec:authentication="principal.authorities">User</span><br>
  Welcome <span sec:authentication="principal.fullName">User</span><br>
  Welcome <span sec:authentication="principal.roleName">User</span><br>
  <a th:href="@{/logout}">Logout</a><br>
</body>
</html>