<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Trang chủ</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"> <!--set default CSS-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" > <!--load font-->
    <link rel="stylesheet" th:href="@{/fontawesome-free-5.15.1/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style th:if="${postList == null}">
        html{
            height: 100%;
        }
    </style>
</head>
<body>
    <div class="app">
        <header class="header">
            <div class="grid">


                <div class="header__with-search">
                    <div class="header__logo">
                        <a href="/">
                            <img th:src="@{img/logo.png}" alt="LOGO" class="header__qr-img">
<!--                            <img src="https://drive.google.com/uc?id=1XuXk79aAhAV0Q9IyuyM9OQpfUccyOBG0" alt="LOGO" class="header__qr-img">-->
                            <p style="color: white; font: 1.4em sans-serif;">ACT BRAIN VIETNAM</p>
                        </a>                        
                    </div>

                    <div class="header__with-title">
                        <p class="event-name">Tên sự kiện</p>
                    </div>

                    <div class="header__login-logout">
                        <ul class="header__navbar-list">
                            <li sec:authorize="!isAuthenticated()"  class="header__navbar-item header__navbar-item-hover header__navbar-item--strong header__navbar-item--separate">
                                <a th:href="@{/login}" style="color: #ffffff">Đăng nhập</a>
                            </li>
                            <li sec:authorize="!isAuthenticated()"  class="header__navbar-item header__navbar-item-hover header__navbar-item--strong">
                                <a th:href="@{/registration}" style="color: #ffffff">Đăng ký</a>
                            </li>


                            <li sec:authorize="isAuthenticated()" class="header__navbar-item header__navbar-user" style="cursor: default;">
                                <span class="header__navbar-user-name">Xin chào, <span sec:authentication="principal.fullName">User</span></span>
                            </li>
                            <li sec:authorize="isAuthenticated()" class="header__navbar-item header__navbar-item-hover header__navbar-item--strong">
                                <a th:href="@{/upload}" style="color: #ffffff">Đăng bài</a>
                            </li>
                            <li sec:authorize="isAuthenticated()"  class="header__navbar-item header__navbar-item-hover header__navbar-item--strong">
                                <a th:href="@{/logout}" style="color: #ffffff">Đăng xuất</a>
                            </li>
                       </ul>
                    </div>
                </div>
            </div>
        </header>

         <div class="container">
            <div class="grid">
                <div class="grid__row">
                    <div class="home__filter">
                        <span class="home__fiter-label">Sắp xếp theo</span>

                        <div class="select__sort btn btn--primary" style="position: relative;">
                            <span class="select__sort-label">Thời gian</span>
                            <i class="fas fa-chevron-down"></i>
                            <ul class="sort__menu">
                                <li class="sort-choice"><a class="sort-link" href="/?sortBy=new">Mới nhất</a></li>
                                <li class="sort-choice"><a class="sort-link" href="/?sortBy=old">Cũ nhất</a></li>
                            </ul>
                        </div>
                        
                        <div class="select__sort btn btn--primary" style="position: relative;">
                            <span class="select__sort-label">Tên</span>
                            <i class="fas fa-chevron-down"></i>
                            <ul class="sort__menu">
                                <li class="sort-choice"><a class="sort-link" href="/?sortBy=AtoZ">A đến Z</a></li>
                                <li class="sort-choice"><a class="sort-link" href="/?sortBy=ZtoA">Z đến A</a></li>
                            </ul>
                        </div>
                        
                    </div>
                    <div th:if="${postList != null}">
                    <nav th:if="${totalPage}>1" aria-label="Page navigation example" class="Page">
                        <ul class="pagination justify-content-end">
                            <li th:each="index: ${#numbers.sequence(1, totalPage)}" class="page-item"
                                th:classappend="(${page}==*{index})?'active':''">
                                <a th:href="@{'/?sortBy=' + ${sortBy} +'&page='+*{index}}" th:text="*{index}" class="page-link" href="#"></a>
                            </li>
                        </ul>
                    </nav>

                    <div class="row mb-5">
                        <!-- Show product -->

                        <div  th:each="post:${postList}" class="big__card col-md-3 mt-4 pt-2">
                            <div class="card">
                                <div th:onclick="|showDetail(${post.id})|" class="cart-image">
                                    <img th:if="*{post.fileType.contains('image')}" th:src="'https://drive.google.com/uc?id=' + *{post.fileID}"
                                         class="card-img-top" alt="...">
                                    <img th:if="*{post.fileType.contains('video')}" th:src="'https://lh3.google.com/u/1/d/' + *{post.fileID}"
                                         class="card-img-top" alt="...">
                                </div>

                                <div class="card-body pt-3">
                                    <div class="title-name-post" th:text="*{post.title}">Title name of post</div>
                                    <div th:id="divVote + *{post.id}" th:onclick="|doVote(${post.id})|" class="vote">
                                        <i th:id="*{post.id}" class="far fa-heart vote_icon"></i>
                                        <!-- <i class="fas fa-heart" style="color: red;"></i> -->
                                        <span class="voting" th:text="*{post.totalVote}">12</span>
                                    </div>                                </div>
                            </div>
                        </div>

                        <!-- end -->
                    </div>

                    <nav th:if="${totalPage}>1" aria-label="Page navigation example" class="Page">
                        <ul class="pagination justify-content-end">
                            <li th:each="index: ${#numbers.sequence(1, totalPage)}" class="page-item"
                                th:classappend="(${page}==*{index})?'active':''">
                                <a th:href="@{'/?sortBy=' + ${sortBy} +'&page='+*{index}}" th:text="*{index}" class="page-link" href="#"></a>
                            </li>
                        </ul>
                    </nav>
                    </div>
                    <div th:if="${postList == null}">
                        <div class="notice-page-empty">Hiện chưa có bài đăng nào</div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">

        </footer>
    </div>
<!--    notice voted modal-->
    <div id="noticeVoted_modal" class="modal">
        <div id="noticeVoted_contentOut" class="modal__overlay"></div>
        <div class="modal__body">
            <div id="noticeVoted_main-modal" class="main__modal">
                <div id="noticeVoted_modalTitle" class="modal__title-post">
                    Ơ kìa
                </div>
                <div class="modal__description-post">
                    Bạn đã vote bài khác rồi mà. THAM LAM
                </div>
            </div>
        </div>
    </div>
    </div>

<!--  Modal detail-->
    <div id="myModal" class="modal">
        <div id="contentOut" class="modal__overlay"></div>
        <div class="modal__body">

            <div id="main-modal" class="main__modal">
                <div id="modalTitle" class="modal__title-post">
                    Title here
                </div>
                <img id="modalImage" class="modal__img-post" src="" alt="">
                <div id="modalVideo"></div>
                <div class="modal__description-post">
                <textarea id="modalContent" name="w3review" rows="10" cols="70"  disabled="disabled">
                    Content here
                </textarea>
                </div>
                <div class="modal__footer">
                    <div class="modal__footer-left">
                        <p id="modalUserCreate" style="margin-bottom: 0; color: #48cae4;"> user create here</p>
                    </div>
                    <div class="modal__footer-right">
                        <div class="auth__form-controls">
                            <button class="btn modal-controls-back">TRO LAI</button>
                        </div>

                        <div class="modal__vote" onclick="doVoteInModal()">
                            <i id="modalIconVote" class="far fa-heart"></i>
                            <!-- <i class="fas fa-heart" style="color: red;"></i> -->
                            <span id="modalTotalVote" class="voting">voting here</span>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
    </div>
    <script th:src="@{/js/index.js}"></script>
</body>
</html>