<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Đăng ký</title>
		<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
		<!--Bootstrap-->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
			crossorigin="anonymous"
		/>
		<!-- Bootstrap icons -->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
		/>
	</head>
	<body class="my-background">
		<div
			class="
				d-flex
				flex-column
				min-vh-100
				justify-content-center
				align-items-center
				text-center
			"
		>

			<form
				th:action="@{/registration}"
				id="registrationForm"
				class="form-floating needs-validation"
				method="post"
				th:object="${account}"
			>
				<h3 class="mb-3">Đăng ký</h3>
				<div class="row">
					<div class="col-sm">
						<div class="form-floating mb-3">
							<input
								type="text"
								class="form-control"
								id="username"
								name="username"
								maxlength="15"
								placeholder="Tên đăng nhập"
								th:field="*{username}"
								th:value="*{username}"
							/>
							<em th:if="${#fields.hasErrors('username')}" id="username-error"
								class="error help-block" th:errors="*{username}"></em>
							<label for="username">Tên đăng nhập</label>

						</div>
					</div>
					<div class="col-sm">
						<div class="form-floating mb-3">
							<input
									type="text"
									class="form-control"
									id="fullName"
									name="fullName"
									maxlength="50"
									placeholder="Họ tên"
									th:field="*{fullName}"
									th:value="*{fullName}"
							/>
							<label for="fullName">Họ tên</label>
							<em th:if="${#fields.hasErrors('fullName')}" id="fullName-error"
								class="error help-block" th:errors="*{fullName}"></em>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm">
						<div class="form-floating mb-3">
							<input
								type="text"
								class="form-control"
								id="email"
								name="email"
								maxlength="320"
								placeholder="email"
								th:field="*{email}"
								th:value="*{email}"
							/>
							<label for="email">Email</label>
							<em th:if="${#fields.hasErrors('email')}" id="email-error"
								class="error help-block" th:errors="*{email}"></em>
						</div>
					</div>
					<div class="col-sm">
						<div class="form-floating mb-3">
							<input
								type="text"
								class="form-control"
								id="phoneNumber"
								name="phoneNumber"
								placeholder="Số điện thoại"
								maxlength="10"
								th:field="*{phoneNumber}"
								th:value="*{phoneNumber}"
							/>
							<label for="phoneNumber">Số điện thoại</label>
							<em th:if="${#fields.hasErrors('phoneNumber')}" id="phoneNumber-error"
								class="error help-block" th:errors="*{phoneNumber}"></em>
						</div>
					</div>
				</div>
				<div class="form-floating mb-3">
					<input
						type="password"
						class="form-control"
						id="password"
						name="password"
						placeholder="Mật khẩu"
						th:field="*{password}"
					/>
					<label for="password">Mật khẩu</label>
					<em th:if="${#fields.hasErrors('password')}" id="password-error"
						class="error help-block" th:errors="*{password}"></em>
				</div>
				<div class="form-floating mb-3">
					<input
						type="password"
						class="form-control"
						id="confirmPassword"
						name="confirmPassword"
						placeholder="Xác nhận mật khẩu"
						th:field="*{confirmPassword}"
					/>
					<label for="confirmPassword">Xác nhận mật khẩu</label>
					<em th:if="${#fields.hasErrors('confirmPassword')}" id="confirmPassword-error"
						class="error help-block" th:errors="*{confirmPassword}"></em>
				</div>
				<div class="mb-3">
					<button type="submit" class="btn btn-primary w-100">Đăng ký</button>
				</div>
				Có tài khoản? <a th:href="@{/login}" class="login-link">Đăng nhập</a>
			</form>
		</div>
		<!-- the jQuery Library -->
		<script
			src="https://code.jquery.com/jquery-3.6.0.min.js"
			crossorigin="anonymous"
		></script>
		<!--jQuery validator-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
		<!--jQuery additional methods-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/additional-methods.min.js"></script>
		<!--Bootstrap-->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
			crossorigin="anonymous"
		></script>
		<!--my script-->
		<script th:src="@{/js/registrationValidation.js}"></script>
	</body>
</html>
